.section-one{
    width: 960px;
    height: 745px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 38px;
    text-align: center;
    font-size: 24px;
    color: #4c4c4c;
    padding-top:20px;
    padding-bottom: 10px;
}
.description-multiple-origins{
    font-family: 'Aktiv Grotesk W01 SC Light',sans-serif;
    display: inline-block;
    vertical-align: middle;
}
.description-city{
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
}
.description{
    vertical-align: middle;
    color: #0f748f;
    font-weight: 550;
}
.destination-list{
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    font-size: 16px;
}
.promotion{
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        display: inline-block;
    }
}
.promotion{
    li:first-child{
        float: left;
    }
}
.primary-promotion{
    float: right;
    width: 48.75%;
    margin-bottom: 2em;
    position: relative;
    padding-left: 0;
}
.cover{
    width: 100%;
    height: 312px;
    position: relative;
}
.secondary-promotion:nth-child(3n+3){
    clear: both;
    margin-left: 0;
}
.secondary-promotion{
    float: left;
    width: 32%;
    margin-left: 19px;
}
.detail{
    position: absolute;
    width: 99.8%;
    height:80px;
    background:  rgba(0,101,101,0.9);
    bottom: 0;
    color: #fff;
    font-size: 20px;
    font-family: 'Aktiv Grotesk W01 SC Medium',sans-serif;
}
a:hover{
    .detail{
        background:#006565;
    }
}
.description-watch{
    width: 95%;
    height: 50px;
    margin: 15px 10px;
}
.item-left{
    width: 50%;
    float: left;
    font-family: 'Aktiv Grotesk W01 SC Regular',sans-serif;
}
.item-right{
    width: 50%;
    float: right;
    text-align: right;
    font-family: 'Aktiv Grotesk W01 SC Regular',sans-serif;
}
a:hover{
    .item-right{
        text-decoration: underline;
    }
}
.miscellenous{
    margin-top: 2px;
    font-size: 15px;
    line-height: 1.425;
}
.type{
    font-size: 15px;
    line-height: 1.2;
}
.information{
    border-top: 1px solid #c6c2c1;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 25px;
}

a:hover{
    .information{
        background:#ebedec;
    }
}
.secondary-promotion {
    .secndary-detail{
        float: left;
        width: 290px;
        margin-left: 6px;
    }
}
.city{
    padding-bottom: .45em;
    font-size: 1.25em;
    line-height: 1.25;
    margin-bottom: 0;
    color: #4c4c4c;
    margin-top: 4px;
    font-family: 'Aktiv Grotesk W01 Medium',sans-serif;
}
.cabin-class{
    line-height: 1.415;
    color: #4c4c4c;
    min-height: 2.72em;
    font-size: 12px;
}
.category{
    font-size: 14px;
    line-height: 1.7;
    padding-top: 10px;
    color: #0f748f;
}
.price{
    display: inline-block;
    font-size: .75em;
    line-height: 1.4;
    color: #0f748f;
}
.currency{
    font-size: 1.675em;
    line-height: 1.25;
}
a:hover{
    .category{
        text-decoration: underline;
    }
}
a:hover{
    .price{
        text-decoration: underline;
    }
}
.term-of-services{
    margin: 0 auto 1.125em;
    width: 100%;
    text-align: center;
    height: 25px;
    margin-top: 550px;
}
.small-print{
    font-size: 12px;
    margin-bottom: 0;
    color: #4c4c4c;
    line-height: 50px;
    font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
}
.actions{
    display: table;
    margin: 37px auto 0;
    border-spacing: 4em 0;
    width: 100%;
    text-align: center;
    color: #0f748f;
}
.actions{
    a{
        width: 33%;
        display: table-cell;
        border-top: 1px solid #c6c2c1;
        border-bottom: 1px solid #c6c2c1;
        padding: 7px 0;
        color: #0f748f;
        font-weight: 600;
    }
}
.added-value-promotion{
    width: 960px;
    height: 460px;
    text-align: center;
    margin:0 auto;
}
.section-heading{
    font-family: 'Aktiv Grotesk W01 SC Light',sans-serif;
    font-size: 24px;
    color:#4c4c4c;
    margin-bottom: 20px;
    margin-top: 10px;
}
.row{
    margin-left: -12px;
    margin-right: -12px;

}
.row{
    a{
        display: block;
        width: 316.79px;
        height: 400px;
    }
}
.added-value-promotion{
    ul{
        margin:0;
        padding: 0;
        list-style: none;
        cursor: pointer;
    }
}
.added-value-promotion ul>li{
    display: inline-block;
}
.card{
    width: 33%;
}
.card{
    a:hover{
        text-decoration: none;
    }
}
.card{
    a:hover{
        span{
            text-decoration: underline;
        }
    }
}
.img-box{
    width: 303.99px;
    height: 202px; 
    overflow: hidden;
}
.img{
    width: 100%;
    height: 100%;
}
a:hover{
    .img-box{
        img{
            transition: .3s;
            transform: scale(1.03);
        }
    }
}
.content{
    width: 302px;
    border: 1px solid #ebedec;
}
a:hover{
    .content{
        background:#ebedec;
    }
}
.picture-promotion{
    flex: 1 0 auto;
    padding: 20px 20px 10px;
}
.picture-title{
    font-size: 20px;
    font-family: 'Aktiv Grotesk W01 SC Light',sans-serif;
    color:#0f748f;
    text-align: left;
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 8px;
}
.picture-description{
    font-size: 14px;
    font-family: 'Aktiv Grotesk W01 SC Light',sans-serif;
    color:#4c4c4c;
    text-align: left;
}
.call-to-action{
    margin: 0 20px 20px 20px;
    color: #0f748f;
    margin-top: 42px;
    margin-right: 20px;
    font-size: 14px;
    padding-left: 160px;
}
.call-to-action{
    i{
        margin-left: 10px;
    }
}
.opt-travel-extra{
    width: 960px;
    height: 160px;
    margin: 35px auto 0; 
}
.opt-travel-extra{
    ul{
        margin-left: -12px;
        margin-right: -12px;
    }
}
.col-md-2{
    width: 47%;
    display: inline-block;
    position: relative;
    background-color: #F9F9F9;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
}
.col-li{
    color: #0f748f;
}
.opt-arrow-icon{
    border: 1px solid #4c4c4c;
    border-radius: 17px;
    display: inline-block;
    width: 20px;
    margin: 8px 10px;
    padding-left: 5px;
    height: 25px;
}
.opt-arrow-div{
    display: inline-block;
    font-size: 18px;
    width: 85%;
    vertical-align: middle;
}
.subscrie-travel{
    width: 960px;
    height: 500px;
    margin:0 auto;
}
.subscribe-newsletter-wrapper{
    margin: 38px auto 0;
    width: 75%;
    height: 500px;
}
.subscrie-header{
    margin: 0 auto 1rem;
    width: 100%;
    text-align: center;
    line-height: 31.92px;
    font-size: 28px;
    font-weight: 300;
    font-family: 'Aktiv Grotesk W01 Light1370681',sans-serif;
    color: #006564;
}
.sub-header{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
    line-height: 1.35;
    margin-bottom: 1.25rem;
}
.member-wrapper{
    margin-bottom: 10px;
}
.radio-group{
    position: relative;
    margin-bottom: 14px;
}

.member-label{
    margin-right: 35px;
    color: #0f748f;
}
.form-warp{
    width: 720px;
    height: 253px;
}
.customer-select-wrapper{
    width: 31%;
    height: 50px;
    position: relative;
    display: block;
    float: left;
    border: 1px solid #c6c2c1;
    margin-bottom: 13px;
    margin-right: 10px;
}
.cx-inputfield{
    width: 32%;
    height: 50px;
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
}
.country-select{
    width: 98.7%;
    height: 50px;
    position: relative;
    display: block;
    float: left;
    margin-bottom: 13px;
    border: 1px solid #c6c2c1;
}
.cx-input{
    width: 203px;
    height: 43px;
    margin-left: 15px;
    border: none;
    margin-top: 3px;
}
.select-input{
    width: 630px;
    height: 43px;
    margin-left: 15px;
    border: none;
    margin-top: 3px;
}
.country-select-button{
    border: none;
    color: #4c4c4c;
    margin-top: 225px;
    margin-left: -469px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
}
.custom-select-control{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    color: #4c4c4c;
    opacity: 0;
}
.select-icon{
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 192px;
    top: 0;
    background: #c6c2c1;
    width: 31px;
}
.subscribe-newsletter-container{
    font-size: 16px;
}
.subscribe-newsletter-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
.section-wrapper{
    margin-bottom: 32px;
    display: block;
}
.section-wrapper:before, .section-wrapper:after {
    content: " ";
    display: table;
}
.section-wrapper:after {
    clear: both;
}
.subscribe-newsletter{
    margin:32px 0 0;
}
.subscribe-newsletter-wrapper{
    width: 65.83333%;
    max-width: 632px;
    margin:32px auto 0px;
    
}
.header{
    margin: 0 auto ;
    width: 100%;
    text-align: center;
    line-height: 1.14;
    font-size: 1.75rem;
    font-weight: 300;
    font-family: 'Aktiv Grotesk W01 Light1370681',sans-serif;
    color: #006564;
}
.sub-header{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
    font-size: .875em;
    line-height: 1.35;
    margin-bottom: 1.25rem;
}
.subscribe-newsletter{
    .subscribe-newsletter-wrapper{
        .member-wrapper {
            margin-bottom: 1.25rem;
        }
    }
}
.ui-radio {
    clip: rect(0 0 0 0);
    position: absolute;
}
.subscribe-newsletter-wrapper{
    .member-wrapper{
        .field-label {
            margin: 0;
            font-size: .875em;
            margin-right: 39.2px;
            display: inline-table;
            cursor: pointer;
        }
    }
}
.subscribe-newsletter-container{
    .ui-radio:checked+label {
        outline: 1px solid transparent;
        font-family: 'Aktiv Grotesk W01 Bold1370651',sans-serif;
        color: #4c4c4c;
    }
    .ui-radio+label {
        color: #0f748f;
    }
    .ui-radio:checked+label:before {
        background: #0f748f;
    }
    .ui-radio+label:before{
        background: #fff;
        border: #fff .4em solid;
        border-radius: 1em;
        box-shadow: 0 0 0 1px #c6c2c1;
        content: '';
        cursor: pointer;
        display: inline-block;
        height: .6em;
        margin: 0 .5em 0 0;
        width: .6em;
        vertical-align: -3px;
    }
}
.subscribe-newsletter{
    .subscribe-newsletter-wrapper {
        .subscription-form {
            margin-top: -4px;
        }
    }
} 
.subscribe-newsletter-wrapper{
    .member-wrapper .field-label:before {
        vertical-align: -5px;
    }
    
} 
.subscribe-newsletter-wrapper{
    .subscription-form{
        .form-wrapper {
            margin: 0 auto;
            width: 100%;
        }
    } 
    .subscription-form{
        .form-wrapper:after{
            content: " ";
            display: table;
            clear: both;
        }
    }
}
.form-wrapper{
    .custom-select-wrapper {
        width: 32.25%;
        position: relative;
        top: auto;
        right: auto;
        min-height: 3.15rem;
        margin: 0 0 .625rem;
        display: block;
        float: left;
        font-size: 1em;
        text-align: left;
    }
} 
.input-wrapper{
    width: 32.25%;
    margin: 0 0 .625rem 1.6%;
    display: block;
    float: left;
}
.form-wrapper{
    .field-group {
        position: relative;
    }
    .field-group:focus{
        /* border-color: #0f748f; */
        border: 1px solid #0f748f;
    }
    .email-address-wrapper {
        margin-bottom: .625rem;
        display: block;
        width: 100%;
        float: left;
    }
    .custom-select-wrapper.country-selector-container {
        width: 100%;
        margin-bottom: 30px;
    }
} 
.subscription-form{
    .form-wrapper{
        .button-subscribe.disabled:hover {
            cursor: default;
            background: linear-gradient(to top,#c1c1c1 0,#dbdbdb 100%);
            border-radius: 2px;
            color: #4c4c4c;
            border: 0;
            text-shadow: none;
        }
    }
} 
.subscription-form{
    .form-wrapper{
        .button-subscribe{
            .large-up {
                display: block;
            }
            display: block;
            width: 31.65%;
            padding: .56875em 0;
            line-height: 1.95rem;
            text-align: center;
            margin: 1.375rem auto 0;
            font-weight: 300;
            border:none;
            height: 55px;
            border-radius: 3px;
        }
    } 
} 
// .subscription-form .form-wrapper .button-subscribe {
//     display: block;
//     width: 31.65%;
//     padding: .56875em 0;
//     line-height: 1.95rem;
//     text-align: center;
//     margin: 1.375rem auto 0;
//     font-weight: 300;
//     border:none;
//     height: 55px;
//     border-radius: 3px;
// }
.field-label.dropdown-label-selected {
    color: #4c4c4c;
    cursor: inherit;
    position: absolute;
    top: .5rem;
    left: .875rem;
    font-size: .6857rem;
    text-transform: uppercase;
    clip: inherit;
    height: auto;
    overflow: hidden;
    width: auto;
    display: block;
    z-index: 2;
}
.field-label{
    border: 0;
    padding: 0;
    margin: -1px;
}
.custom-select-wrapper {
    .custom-select-trigger.dropdown-span-selected {
        line-height: 1.25;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        width: 186px;
        height: 18px;
        color: #4c4c4c;
    }
    .custom-select-trigger {
        font-size: 14px;
        font-size: .875rem;
        padding: 1rem 1rem .95rem 0;
    }
    .custom-select-trigger {
        /* border: 1px solid #c6c2c1; */
        margin-right: 0;
        width: 100%;
        line-height: 1.2;
        padding: .9rem 1rem .9rem 0;
    }
}
.custom-select-trigger.dropdown-span-selected {
    line-height: 1.3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1.6em 1em .5em 0;
    height: 3.58em;
    max-height: 3.58em;
    font-size: .875em;
}
.custom-select-wrapper{
    .custom-select-trigger {
        border: 1px solid #c6c2c1;
        margin: 0;
        border: 1px solid #c6c2c1;
        position: relative;
        margin-right: 32px;
    }
}
.custom-select-trigger {
    background-color: #fff;
    border: 1px solid #c6c2c1;
    cursor: pointer;
    display: inline-block;
    line-height: 2.6em;
    width: 6.5625em;
}
.subscribe-newsletter{
    .subscribe-newsletter-wrapper{
        .subscription-form {
            .form-wrapper .custom-select-wrapper .custom-select-text {
                margin-left: .75em;
                font-weight: 300;
                font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
            }
        }
    }
}
.custom-select-trigger{
    .custom-select-text {
        font-size: 1em;
        margin-left: 1em;
        display: inline-block;
        margin-left: 1.8em;
    }
}
.custom-select-wrapper{
    .icon {
        border-bottom: 0;
        padding: 2.99em 1em;
        display: block;
        border-bottom: 1px solid #fff;
        position: absolute;
        height: 25%;
        top: 0;
        right: 0;
        padding: 1.4em 0.8em;
        background-color: #ebedec;
        font-size: 13px;
        font-family: 'cx-icons';
        // speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    .custom-select-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
        color: #4c4c4c;
    }
}
.custom-select-control{
    border-radius: 0;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 0;
}
.form-wrapper{
    .field-input {
        background: #fff;
        display: block;
        margin: 0;
        padding-left: .857em;
        height: 3.58em;
        max-height: 3.58em;
        width: 92%;
        border: 1px solid #c1c1c1;
    }
    .field-input:focus{
        border-color: #0f748f;
    }
}
.cx-inputfield{
    .field-label{
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
.email-address-wrapper{
    .field-input{
        padding-left: .857em;
        height: 3.58em;
        max-height: 3.58em;
        width: 97.5%;
    }
}
.country-selector-container {
    .custom-select-trigger.dropdown-span-selected {
        line-height: 1.25;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        width: 97.5%;
        height: 18px;
    }
}
.flight-promotion {
    float: left;
    position: relative;
    padding-right: 2px;
}
.flight-promotion{
    .field-label{
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
.flight-promotion{
    .field-input {
        -webkit-text-fill-color: #4c4c4c;
        padding-left: .857em;
        height: 3.58em;
        max-height: 3.58em;
        line-height: 1.3;
        border: none;
        background: #fff;
        border-bottom: 1px solid #c6c2c1;
        border-radius: 0;
        display: block;
        margin: 0;
        width: 100%;
    }
}





   