<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>网上订票|特价机票|中国内地</title>
</head>
<body>
  <header>
    <div class="header-top-row">
      <div class="header-top-row-wrapper">
        <div class="left-item-group">
          <a href="#" class="a-item">
              <span class="icon-earth"></span>
              <span>中国内地-简体中文</span>
          </a>
          <a href="#" class="a-item">
            <span class="icon-home3"></span>
            <span>通知中心</span>
          </a>
        </div>
        <div class="right-item-group">
          <a href="#" class="a-item">登录</a>
          <a href="#" class="a-item">注册</a>
          <a href="#" class="a-item">联系我们</a>
          <a href="#" class="a-item">预定行程</a>
        </div>
      </div>
    </div>
    <div class="header-bottom-row">     
      <div class="header-bottom-row-wrapper">
          <div class="left-item-bottom-group">
              <img src="../assets/images/cathaypacific-zh-green.svg" alt="国泰航空" width="130px" height="26px">
          </div>
   
          <div class="right-item-bottom-group">
              <ul class="navigation">
                  <li class="navigation-item"> 
                      <div class="first-level-trigger">
                          <span class="level-trigger-title">优惠</span>
                          <div class="navigation-item-panel">
                              <div class="navigation-hr">
                                  <hr>
                              </div>
                              <div class="panel-content-wrapper-one">
                                  <div class="mega-menu-component">
                                      <div class="mega-column">
                                          <h4 class="navigation-header">热门目的地</h4>
                                          <ul>
                                              <li><a>所有目的地</a></li>
                                              <li><a>到香港的航班</a></li>
                                              <li><a>到纽约的航班</a></li>
                                              <li><a>到伦敦的航班</a></li>
                                              <li><a>到多伦多的航班</a></li>
                                              <li><a>到悉尼的航班</a></li>
                                          </ul>
                                      </div>
                                      <div class="mega-column"> 
                                          <h4 class="navigation-header">最新票价及优惠</h4>
                                          <ul>
                                              <li><a>香港精选特惠</a></li>
                                              <li><a>航班优惠</a></li>
                                              <li><a>套餐优惠</a></li>
                                              <li><a>网上预订奖励</a></li>
                                              <li><a>国泰学生惠</a></li>
                                              <li><a>多式联运优惠</a></li>
                                          </ul>
                                      </div>
                                      <div class="mega-column">
                                          <h4 class="navigation-header">增值选项</h4>
                                          <ul>
                                              <li><a>优先选位</a></li>
                                              <li><a>智选升级</a></li>
                                              <li><a>网上商店及免税品</a></li>
                                              <li><a>租车服务</a></li>
                                              <li><a>联名卡</a></li>
                                          </ul>
                                      </div>
                                      <div class="mega-column"> 
                                          <h4 class="navigation-header">企业差旅及商务旅行</h4>
                                          <ul>
                                              <li><a>计划概述</a></li>
                                              <li><a>商旅尊享计划</a></li>
                                              <li><a>公务旅游合约</a></li>
                                              <li><a>会议及展览推广优惠</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>  
                          </div>
                      </div>
                  </li>
                  <li class="navigation-item">
                      <div class="first-level-trigger">
                          <span class="level-trigger-title">管理</span>
                          <div class="navigation-item-panel">
                              <div class="navigation-hr">
                                  <hr>
                              </div>
                              <div class="panel-content-wrapper-one">
                                      <div class="mega-menu-component">
                                              <div class="mega-column">
                                                  <h4 class="navigation-header">管理您的行程</h4>
                                                  <ul>
                                                      <li><a>网上预办登记</a></li>
                                                      <li><a>自助订位管理服务</a></li>
                                                      <li><a>航班时刻表</a></li>
                                                      <li><a>优先选位</a></li>
                                                      <li><a>智选升级</a></li>
                                                      <li><a>增值选项</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column"> 
                                                  <h4 class="navigation-header">准备您的行程</h4>
                                                  <ul>
                                                      <li><a>航班状况</a></li>
                                                      <li><a>航班提示服务</a></li>
                                                      <li><a>最新旅游警示及提示</a></li>
                                                      <li><a>航班延误及取消</a></li>
                                                      <li><a>乘客协助</a></li>
                                                      <li><a>护照和签证</a></li>
                                                      <li><a>机场信息</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column">
                                                  <h4 class="navigation-header">行李须知</h4>
                                                  <ul>
                                                      <li><a>概览</a></li>
                                                      <li><a>预付额外行李</a></li>
                                                      <li><a>手提行李</a></li>
                                                      <li><a>托运行李</a></li>
                                                      <li><a>自助行李寄运服务</a></li>
                                                      <li><a>遗失或损毁行李</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column" style="border-right: 1px solid #fff"> 
                                                  <h4 class="navigation-header">旅行应用程序</h4>
                                                  <ul>
                                                      <li><a>国泰航空应用程序</a></li>
                                                      <li><a>PressReader</a></li>
                                                      <li><a>Studio</a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                  
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="navigation-item">
                      <div class="first-level-trigger">
                          <span class="level-trigger-title">体验</span>
                          <div class="navigation-item-panel">
                              <div class="navigation-hr">
                                  <hr>
                              </div>
                              <div class="panel-content-wrapper-one">
                                      <div class="mega-menu-component">
                                              <div class="mega-column-second">
                                                  <h4 class="navigation-header">探索我们的目的地</h4>
                                                  <ul>
                                                      <li><a>最新目的地</a></li>
                                                      <li><a>香港游玩推介</a></li>
                                                      <li><a>目的地指南</a></li>
                                                      <li><a>航班时刻表</a></li>
                                                      <li><a>网上阅读《Discovery》和《丝路》杂志</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second"> 
                                                  <h4 class="navigation-header">登机前</h4>
                                                  <ul>
                                                      <li><a>机场信息</a></li>
                                                      <li><a>贵宾室</a></li>
                                                      <li><a>香港国际机场</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second">
                                                  <h4 class="navigation-header">选乘我们的航班</h4>
                                                  <ul>
                                                      <li><a>国泰航空客机及机队</a></li>
                                                      <li><a>国泰港龙航空客机及机队</a></li>
                                                      <li><a>客舱级别</a></li>
                                                      <li><a>机上餐膳</a></li>
                                                      <li><a>机上娱乐</a></li>
                                                      <li><a>无线网络连接服务</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second" style="border-right: 1px solid #fff"> 
                                                  <h4 class="navigation-header">奖励及合作伙伴</h4>
                                                  <ul>
                                                      <li><a>会籍概览</a></li>
                                                      <li><a>马可孛罗会</a></li>
                                                      <li><a>[亚洲万里通]</a></li>
                                                      <li><a>注册账户</a></li>
                                                      <li><a>伙伴飞行常客计划</a></li>
                                                      <li><a>[寰宇一家]</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second" style="border-right: 1px solid #fff"> 
                                                  <div class="navigation-mega-column">
                                                     <div class="navigation-mega-column-image">
                                                        <img src="../assets/images/ourbrand.jpg" width="185px" height="70px">
                                                     </div> 
                                                    <h3 class="hs">志在飞跃</h3>
                                                  </div>
                                                  <div class="navigation-mega-column">
                                                     <div class="navigation-mega-column-image">
                                                        <img src="../assets/images/aircraft.jpg" width="185px" height="70px">
                                                     </div> 
                                                     <h3 class="hs">体验全新空中巴士A350航机</h3>
                                                  </div>  
                                              </div>
                                        </div>
                              </div>
                              
                          </div>
                      </div>
                  </li>
                  <li class="navigation-item">
                      <div class="first-level-trigger">
                          <span class="level-trigger-title">马可孛罗会</span>
                          <div class="navigation-item-panel">
                              <div class="navigation-hr">
                                  <hr>
                              </div>
                              <div class="panel-content-wrapper-one">
                                      <div class="mega-menu-component">
                                              <div class="mega-column-second">
                                                  <h4 class="navigation-header">关于马可孛罗会</h4>
                                                  <ul>
                                                      <li><a>概览</a></li>
                                                      <li><a>会籍礼遇</a></li>
                                                      <li><a>会籍积分</a></li>
                                                      <li><a>伙伴商户</a></li>
                                                      <li><a>隐私和条款</a></li>
                                                      <li><a>常见问题</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second"> 
                                                  <h4 class="navigation-header">会员账号</h4>
                                                  <ul>
                                                      <li><a>账户概览</a></li>
                                                      <li><a>会籍积分与里数结余</a></li>
                                                      <li><a>最新交易</a></li>
                                                      <li><a>会籍级别间之额外礼遇概要</a></li>
                                                      <li><a>更新账户资料</a></li>
                                                      <li><a>更改"兑换名单"成员</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second">
                                                  <h4 class="navigation-header">兑换[亚洲万里通]</h4>
                                                  <ul>
                                                      <li><a>兑换飞行奖励</a></li>
                                                      <li><a>兑换其他飞行奖励</a></li>
                                                      <li><a>飞行奖励搜索器</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second" style="border-right: 1px solid #fff"> 
                                                  <h4 class="navigation-header">会籍优惠及最新消息</h4>
                                                  <ul>
                                                      <li><a>优惠及最新消息</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-column-second" style="border-right: 1px solid #fff"> 
                                                <div class="navigation-mega-column">
                                                    <div class="navigation-mega-column-image">
                                                        <img src="../assets/images/rendition.jpg"  width="185px" height="70px">
                                                    </div> 
                                                    <h3 class="hs">志在飞跃</h3> 
                                                </div>
                                                 <div class="navigation-mega-column">
                                                    <div class="navigation-mega-column-image">
                                                        <img src="../assets/images/lounges.jpg"  width="185px" height="70px">
                                                    </div> 
                                                    <h3 class="hs">联系我们</h3>
                                                 </div>
                                                  
                                              </div>
                                          </div>
                                  
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="navigation-item">
                      <div class="first-level-trigger">
                          <span class="level-trigger-title">国泰港龙航空</span>
                      </div>
                  </li>
              </ul>
              <a class="site-search-trigger">
                  <i class="icon-spinner4" aria-hidden="true"></i>
              </a>
              <div class="site-search-bar-left-separator-container">
                  <div class="site-search-bar-left-separator"> 
                  </div>
              </div>
              <a class="one-world">
                  <img src="../assets/images/one-world-logo.png" alt="环宇一家" width="26px" height="26px">
              </a>
          </div> 
      </div>
    </div>



  </header>

  <main>
      <div class="parsys">
          <div class="image">
           
            <div class="message-wrapper">
               <a class="section-content">
                   <div class="headline">
                       <b>"国泰学生惠" —— 给你留学之旅的"高配"！</b>
                   </div>
                   <div class="call-action"></div>
                   <div class="fare">
                       <span>单程含税CNY2,518元*起,即可飞往“欧、美、澳、新”等热门留学目的地</span>
                   </div>
                   <div class="maintop-detail" style="font-size: 12px;">
                       <br>
                       *受细则及条款限制。
                   </div>
                   <div class="btn-call-to-action">立即预定</div>
               </a>
   
               <a class="opt-cue fadeIn" id="opt-cue" (click)="goDistance('section-one')">
                   <b>浏览更多优惠</b>
                   <span class="opt-arrow">
                       <i class="icon-home3"></i>
                   </span>
               </a>
               <div class="home-tabs">
                   <ul class="tabs">
                       <li>
                           <a id="tab-active" aria-selected="true">
                               <div class="span-margin">预定行程</div>
                           </a>
                       </li>
                       <li>
                           <a>
                               <div class="span-margin">预办登记</div>
                           </a>
                       </li>
                       <li>
                           <a>
                               <div class="span-margin">管理行程</div>
                           </a>
                       </li>
                       <li>
                           <a>
                               <div class="span-margin">航班状况</div>
                           </a>
                       </li>
                   </ul>
               </div> 
            </div> 
           </div>
   
          <div class="book-trip-tab-panel">
             <div class="book-trip">
                  <div class="trip-type-selection">
                          <input type="radio" class="ui-radio" id="flights" name="trip-type" value="0" checked="checked"/>
                          <label for="flights" class="field-label select-flights">
                              <i class="icon-airplane" aria-hidden="true"></i>
                              <span class="title" style="font-weight: 700;">航班</span>
                          </label>
                          <input type="radio" class="ui-radio" id="hotels" name="trip-type" value="1"/>
                          <label for="hotels" class="field-label select-hotels">
                              <i class="icon-location-hotel" aria-hidden="true"></i>
                              <span class="title" style="font-weight: 700;">酒店</span>
                          </label>
                          <input type="radio" class="ui-radio" id="package" name="trip-type" value="2"/>
                          <label for="package" class="field-label select-package">
                              <i class="icon-airplane" aria-hidden="true"></i>
                              <i class="icon-location-hotel" aria-hidden="true"></i>
                              <span class="title" style="font-weight: 700;">航班+酒店</span>
                          </label>
                      </div>


               <div id="book-trip-flight" class="trip-type-panel parbase panel-active panel-open">
                   <div class="flight-booking-panel">
                       <form action="#" method="POST" >
                          <div class="field-group book-trip-return-standalone">
                              <input type="radio" class="ui-radio" id="round-trip" name="round-trip" value="R" checked="checked">
                              <label for="round-trip" class="radio-label">往返</label>
                              <input type="radio" class="ui-radio" id="one-way" name="round-trip" value="0">
                                  <label for="one-way" class="radio-label">单程</label>
                          </div>
                           <ul class="book-trip-extras-medium-up">
                                  <li class="trip-redeem"><a href="#">兑换航班机票</a></li>
                                  <li class="trip-multicity"><a href="#">多座城市/过境</a></li>
                          </ul>  
   
                           <div class="flight-booking">
                               <div class="flight-depart">
                                   <div class="field-group-departure">
                                      <label for="depart-label" class="field-label label-input">出发地</label>
                                      <input type="text" id="depart-label" name="destination-label" placeholder="北京，(PEK)"
                                       class="field-input-departure" autocomplete="off" onfocus="this.value='北京，(PEK)'" onblur="this.placeholder='北京，(PEK)'"
                                      >
                                  </div>    
                               </div>
                               <div class="flight-arrive">
                                  <div class="field-group-departure">
                                      <input type="text" id="destination-label" name="destination-label" placeholder="目的地"
                                       class="field-input-departure" autocomplete="off" onfocus="this.placeholder=''" onblur="this.placeholder='目的地'"
                                      />
                                      <label for="destination-label" class="field-label label-input">目的地</label>
                                  </div>    
                               </div>
                           </div>
                           <div class="flight-tooltip">
                              <div class="flight-cell">
                                      <div class="field-group">
                                          <span class="span-filled">出发日期</span>
                                              <button class="depart-date" type="button">
                                                  <span> 2019年7月5日 星期五</span>
                                              </button>
                                      </div>
                                      
                              </div>
                              
                              <div class="flight-cell-border">
                                      <div class="field-group">
                                              <span class="span-filled">回程日期</span>
                                                  <button class="depart-date" type="button">
                                                      <span> 2019年7月5日 星期五</span>
                                                  </button>
                                      </div>
                              </div>
                              <div class="flight-cell-border">
                                      <div class="field-group">
                                              <span class="span-filled">乘客/客舱级别</span>
                                              <button class="depart-date depart-date-passenger" type="button">
                                                      <span> 1 乘客/经济舱</span>
                                              </button>
                                      </div>
                              </div>
                              <div class="flight-cell-border">
                                  <div class="number">
                                    <div class="field-group">
                                      <input type="text" id="depart-label" name="depart-label" 
                                          class="input-number" placeholder="优惠编号(可选)"
                                          onfocus="this.placeholder=''" onblur="this.placeholder='优惠编号(可选)'"/>
                                      <label for="depart-label" class="lable-filled">优惠编号(可选)</label>
                                    </div>
                                  </div>
                              </div>
                              <div class="flight-cell-border flight-arrive-color">
                                  <button class="button-submit" type="button">
                                      <span>搜索航班</span>
                                      <i class="icon-home3"></i>
                                  </button>
                              </div>
                          </div> 
                       </form>
                   </div>
               </div>
   
               <div id="book-trip-hotel" class="trip-type-panel parbase">    
               </div>
   
               <div id="book-trip-package" class="trip-type-panel parbase">
               </div>
             </div>
          </div>
       </div>
    <div class="tertiarypar">
        <div class="section-one" id="section-one">
            <div class="header" >
                <span class="description-multiple-origins">看始发地的最新报价</span>
                <div class="description-city">
                    <span class="description">
                        <span>北京</span>
                        <i class="icon-home3"></i>
                    </span>

                    <select class="destination-list">
                        <option value="BJS">北京</option>
                        <option value="SHA">上海</option>
                        <option value="HKG">香港</option>
                        <option value="CAN">广州</option>
                        <option value="ANK">南京</option>
                        <option value="XMN">厦门</option>
                        <option value="WNZ">温州</option>
                        <option value="NGB">宁波</option>
                        <option value="CXS">长沙</option>
                        <option value="CKG">重庆</option>
                        <option value="CGO">郑州</option>
                        <option value="TAO">青岛</option>
                        <option value="SIA">西安</option>
                        <option value="KWL">桂林</option>
                        <option value="MNG">南宁</option>
                    </select>
                </div>
            </div>
            <ul class="promotion">
                <li class="primary-promotion">
                    
                        <div class="cover">
                            <img src="../assets/images/bjs1.jpg" height="311px" width="467px">
                            <a>
                              <div class="detail">
                                  <div class="description-watch" >
                                      <div class="item-left">
                                          <span>香港</span>
                                          <div class="miscellenous">经济舱</div>
                                      </div>
                                      <div class="item-right">
                                          <span class="type">机票</span>
                                          <div >
                                              <span>CNY</span>
                                              <b>1,992</b>
                                              <p>起</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                             </a> 
                        </div>
                    
                </li>
                <li class="primary-promotion">
                   
                        <div class="cover">
                            <img src="../assets/images/bjs2.jpg" height="311px" width="467px">
                            <a>
                              <div class="detail">
                                  <div class="description-watch" >
                                      <div class="item-left">
                                          <span>西雅图</span>
                                          <div class="miscellenous">经济舱</div>
                                      </div>
                                      <div class="item-right">
                                          <span class="type">机票</span>
                                          <div >
                                              <span>CNY</span>
                                              <b>3,654</b>
                                              <p>起</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </a>
                        </div>
                    
                </li>
                <li class="secondary-promotion">
                  <a href="#" class="link">
                      <div class="information">
                          <div class="secndary-detail">
                              <div class="item-left">
                                  <h4 class="city">马尼拉</h4>
                                  <div class="cabin-class">经济舱</div>
                              </div>
                              <div class="item-right">
                                  <div class="category">机票</div>
                                  <div class="price">
                                      <span class="currency">CNY</span>
                                      <b class="currency">2,155</b>
                                      起
                                  </div>
                              </div>
                          </div>
                     </div>
                  </a>
                </li>
                <li class="secondary-promotion">
                      <a href="#" class="link">
                        <div class="information">
                              <div class="secndary-detail">
                                      <div class="item-left">
                                          <h4 class="city">墨尔本</h4>
                                          <div class="cabin-class">经济舱</div>
                                      </div>
                                      <div class="item-right">
                                          <div class="category">机票</div>
                                          <div class="price">
                                              <span class="currency">CNY</span>
                                              <b class="currency">3,396</b>
                                              起
                                          </div>
                                      </div>
                              </div>            
                        </div>
                      </a>
                </li>
                <li class="secondary-promotion">
                      <a href="#" class="link">
                        <div class="information">
                              <div class="secndary-detail">
                                      <div class="item-left">
                                          <h4 class="city">洛杉矶</h4>
                                          <div class="cabin-class">经济舱</div>
                                      </div>
                                      <div class="item-right">
                                          <div class="category">机票</div>
                                          <div class="price">
                                              <span class="currency">CNY</span>
                                              <b class="currency">4,062</b>
                                              起
                                          </div>
                                      </div>
                              </div>     
                        </div>
                      </a>
                </li>
                <li class="secondary-promotion">
                      <a href="#" class="link">
                        <div class="information">
                                        <div class="secndary-detail">
                                                <div class="item-left">
                                                    <h4 class="city">奥克兰</h4>
                                                    <div class="cabin-class">经济舱</div>
                                                </div>
                                                <div class="item-right">
                                                    <div class="category">机票</div>
                                                    <div class="price">
                                                        <span class="currency">CNY</span>
                                                        <b class="currency">3,433</b>
                                                        起
                                                    </div>
                                                </div>
                                        </div>
                                    
                           </div>
                          </a>
                </li>
                <li class="secondary-promotion">
                      <a href="#" class="link">
                        <div class="information">
                                        <div class="secndary-detail">
                                                <div class="item-left">
                                                    <h4 class="city">巴黎</h4>
                                                    <div class="cabin-class">经济舱</div>
                                                </div>
                                                <div class="item-right">
                                                    <div class="category">机票</div>
                                                    <div class="price">
                                                        <span class="currency">CNY</span>
                                                        <b class="currency">5,350</b>
                                                        起
                                                    </div>
                                                </div>
                                        </div>
                                    
                           </div>
                          </a>
                </li>
                <li class="secondary-promotion">
                      <a href="#" class="link">
                        <div class="information">
                                        <div class="secndary-detail">
                                                <div class="item-left">
                                                    <h4 class="city">纽约</h4>
                                                    <div class="cabin-class">公务舱</div>
                                                </div>
                                                <div class="item-right">
                                                    <div class="category">机票</div>
                                                    <div class="price">
                                                        <span class="currency">CNY</span>
                                                        <b class="currency">18,213</b>
                                                        起
                                                    </div>
                                                </div>
                                        </div>
                           </div>
                          </a>
                </li>    
            </ul>
            <div class="term-of-services">
                <p class="small-print">
                     所显示的全部票价均包含税费和承运人征收的附加费。 所有票价，政府税费和附加费均会随时改变。
                </p>    
            </div>
            <div class="actions">
                <a href="#">查看目的地指南</a>
                <a href="#">浏览所有报价</a>
            </div>


        </div> 
        <div class="added-value-promotion">
              <div class="section-heading">
                  最新消息
              </div>
              <ul class="row">
                  
                  <li class="card">
                     <a>
                      <div class="img-box">
                          <img src="../assets/images/picture1.jpg" class="img">
                      </div>
                      
                      <div class="content">
                          <div class="picture-promotion">
                              <h3 class="picture-title">"奇妙飞翔"香港迪士尼乐园旅游套餐</h3>
                              <div class="picture-description">全包套票为家人缔造难忘之旅</div>
                          </div>
                          <div class="call-to-action">
                              <span>立即预定</span>
                              <i class="icon-linkedin2" aria-hidden="true"></i>
                          </div>
                      </div>
                      </a>
                  </li>
                  
                  <li class="card">
                      <a>
                          <div class="img-box">
                              <img src="../assets/images/picture2.jpg" class="img">
                          </div>
                          <div class="content">
                              <div class="picture-promotion">
                                  <h3 class="picture-title">专享RISE会议优惠并赚取额外[亚洲万里通]里数。</h3>
                                  <div class="picture-description">出发日期:2019年6月29日至7月11日</div>
                              </div>
                              <div class="call-to-action">
                                  <span>了解更多</span>
                                  <i class="icon-linkedin2" aria-hidden="true"></i>
                              </div>
                          </div>
                      </a>
                  </li>
                 
                  <li class="card">
                      <a>
                          <div class="img-box">
                              <img src="../assets/images/picture3.jpg" class="img">
                          </div>
                          <div class="content">
                              <div class="picture-promotion">
                                  <h3 class="picture-title">志在飞跃</h3>
                                  <div class="picture-description">踏上崭新旅程。了解[志在飞跃]对你的意义。</div>
                              </div>
                              <div class="call-to-action">
                                  <span>浏览更多</span>
                                  <i class="icon-linkedin2" aria-hidden="true"></i>
                              </div>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>


          <div class="opt-travel-extra">
                  <div class="section-heading" style="text-align: center">选购更多旅游服务</div>
                  <ul >
                      <li class="col-md-2">
                          <span class="opt-arrow-icon">
                                  <i class="icon-home3" aria-hidden="true" ></i>
                          </span>
                          <div class="opt-arrow-div"> 
                          <a class="col-li">
                                  预选机上座位
                                  <i class="icon-home3" aria-hidden="true" ></i>
                          </a>
                      </div>
                      </li>
                      <li class="col-md-2">
                              <span class="opt-arrow-icon">
                                      <i class="icon-location-hotel" aria-hidden="true" ></i>
                              </span>
                              <div class="opt-arrow-div"> 
                              <a class="col-li">
                                      在线免税品商店
                                      <i class="icon-home3" aria-hidden="true" ></i>
                              </a>
                          </div>
                      </li>
                      <li class="col-md-2">
                              <span class="opt-arrow-icon">
                                      <i class="icon-earth" aria-hidden="true" ></i>
                              </span>
                              <div class="opt-arrow-div"> 
                              <a class="col-li">
                                      预付超重行李
                                      <i class="icon-home3" aria-hidden="true" ></i>
                              </a>
                          </div>
                      </li>
                      <li class="col-md-2">
                              <span class="opt-arrow-icon">
                                      <i class="icon-linkedin2" aria-hidden="true" ></i>
                              </span>
                              <div class="opt-arrow-div"> 
                              <a class="col-li">
                                      租车服务
                                      <i class="icon-home3" aria-hidden="true" ></i>
                              </a>
                          </div>
                      </li>
                  </ul>
              </div>
      
              <div class="subscribe-newsletter-container">
                      <div class="section-wrapper">
                          <div class="subscribe-newsletter">
                              <div class="subscribe-newsletter-wrapper">
                                  <h3 class="header">订阅我们的电子期刊</h3>
                                  <div class="sub-header">
                                      在收件箱直接收取我们的最新优惠及独家礼遇。
                                      <div class="other-sub-header">
                                              登记国泰航空注册账户，以收取我们的时事通讯。作为账户持有者，
                                              您更可轻松便捷地管理旅程。请注意，只有 18 岁或以上的人士方可注册。
                                      </div>
                                  </div>
                                  <div class="member-wrapper">
                                      <div class="radio-group">
                                          <input type="radio" class="ui-radio" name="member-check" value="N" id="no-member" checked/>
                                          <label for="no-member" class="field-label">登录账号即可定阅 </label>
                                          <input type="radio" class="ui-radio" name="member-check" value="Y" id="member"/>
                                          <label for="member" class="field-label">现有会员敬请登录并定阅 </label>
                                      </div>
                                  </div>
              
                                  <form class="subscription-form">
                                      <div class="form-wrapper">
                                          <div class="field-group custom-select-wrapper">
                                              <label class="field-label dropdown-label-selected">称谓</label>
                                              <span class="custom-select-trigger dropdown-span-selected" aria-hidden="true">
                                                  <span class="custom-select-text">先生</span>
                                                  <i class="icon icon-location-hotel" aria-hidden="true"></i>
                                              </span>
                                              <select class="custom-select-control">
                                                      <option>先生</option>
                                                      <option>女士</option>
                                                      <option>太太</option>
                                                      <option>博士</option>
                                                      <option>教授</option>
                                              </select>
                                          </div>
              
                                          <div class="field-group cx-inputfield input-wrapper">
                                              <label class="field-label" for="familyName">姓氏</label>
                                              <input id="familyName" name="familyName" class="field-input" placeholder="姓氏"/>
                                          </div>
              
                                          <div class="field-group cx-inputfield input-wrapper ">
                                              <label class="field-label" for="givenname">名字</label>
                                              <input id="givenname" name="givenname" class="field-input" placeholder="名字"/>
                                          </div>
              
                                          <div class="field-group cx-inputfield email-address-wrapper">
                                              <label class="field-label" for="subscription-email">电邮地址(这将会是你的用户名)</label>
                                              <input class="field-input" id="subscription-email" name="email" type="text"
                                              placeholder="电邮地址(这将会是你的用户名)"/>
                                          </div>
              
                                          <div class=" custom-select-wrapper country-selector-container">
                                                  <label class="field-label dropdown-label-selected">首选出发国家/地区</label>
                                                  <span class="custom-select-trigger dropdown-span-selected" aria-hidden="true">
                                                      <span class="custom-select-text">中国内地</span>
                                                      <i class="icon icon-location-hotel" aria-hidden="true"></i>
                                                  </span>
                                                  <select class="custom-select-control">
                                                          <option>中国内地</option>
                                                              <option>中国香港</option>
                                                              <option>德国</option>
                                                              <option>美国</option>
                                                              <option>澳大利亚</option>
                                                              <option>加拿大</option>
                                                              <option>法国</option>
                                                              <option>印度</option>
                                                  </select>
                                          </div>
                                          <button class="button-subscribe large-up disabled">
                                              <a>订阅</a>
                                          </button>
                                      </div>
                                  </form>
              
                              </div>
                          </div>
              
                      </div>
                      
                  </div>
    </div>
  </main>


  <footer>
      <div class="parbase response-footer-container">
          <div class="share-banner-wrapper">
              <div class="share-toolbox">
                <div class="share-lable">分享页面</div>
                <a class="share-button">
                  <i class="icon-wechat"></i>
                </a>
                <a class="share-button">
                  <i class="icon-home3"></i>
                </a>
                <a class="share-button">
                  <i class="icon-hackernews"></i>
                </a>
                <a class="share-button">
                  <i class="icon-envelop"></i>
                </a>
                <a class="share-button">
                  <i class="icon-linkedin2"></i>
                </a>
              </div>
          </div>
          
          <div class="section-wrapper-bt">
              <div class="footer-container">
                  <div class="footer-home-link">
                    <img src="../assets/images/plane.PNG" alt="国泰航空" width="70px" height="60px">
                  </div>
                  <div class="footer-links">
                    <div class="footer-section">
                      <h4 class="footer-section-heading">国泰世界</h4>
                      <ul class="footer-list">
                        <li><a href="#">关于国泰</a></li>
                        <li><a href="#">关于国泰港龙</a></li>
                        <li><a href="#">新闻资料库</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">加入团队</a></li>
                        <li><a href="#">法律及隐私政策</a></li>
                        <li><a href="#">社区协助</a></li>
                      </ul>
                    </div>
      
                    <div class="footer-section">
                        <h4 class="footer-section-heading">使用本网站</h4>
                        <ul class="footer-list">
                            <li><a href="#">网站帮助</a></li>
                            <li><a href="#">网站地图</a></li>
                            <li><a href="#">常见问题</a></li>
                            <li><a href="#">客运燃油附加费</a></li>
                            <li><a href="#">可选服务及收费</a></li>
                            <li><a href="#">特别协助</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h4 class="footer-section-heading">度假构思</h4>
                        <ul class="footer-list">
                            <li><a href="#">从中国内地出发</a></li>
                            <li><a href="#">从上海出发</a></li>
                            <li><a href="#">从北京出发</a></li>
                            <li><a href="#">从杭州出发</a></li>
                            <li><a href="#">从广州出发</a></li>
                            <li><a href="#">从厦门出发</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h4 class="footer-section-heading">商务旅游</h4>
                        <ul class="footer-list">
                            <li><a href="#">商旅尊享计划</a></li>
                            <li><a href="#">商务旅游合约</a></li>
                        </ul>
                    </div>
                  </div>
                  <ul class="social-icons">
                     <li>
                        <img src="../assets/images/1.PNG" height="36px" width="36px">
                     </li>
                     <li>
                        <img src="../assets/images/2.PNG" height="36px" width="36px">
                     </li>
                     <li>
                        <img src="../assets/images/3.PNG" height="36px" width="36px">
                     </li>
                     <li>
                        <img src="../assets/images/4.PNG" height="36px" width="36px">
                     </li>
                     
                  </ul>
                  
                  <div class="partner-badges">
                    <a href="#" target="_blank">
                        <img class="partner-badge" src="../assets/images/cathaypacific-zh.svg" alt="访问国泰航空网站">
                    </a>  
                    <a href="#" target="_blank">
                        <img class="partner-badge" src="../assets/images/cathaydragon-zh.svg" alt="访问国泰港龙航空网站">
                    </a> 
                    <a href="#" target="_blank">
                        <img class="partner-badge" src="../assets/images/asiamiles-sc.svg" alt="了解[亚洲万里通]">
                    </a> 
                  </div>
      
                  <div class="copyright-message">
                    <a href="#">版权所有</a>
                    <span>©国泰航空公司Cathay Pacific Airways Limited 京ICP备09072568号</span>
                    <img src="../assets/images/icon-filing.png" alt="徽章">
                    <a href="#">京公网安备 11010502033296号</a>
                    <img src="../assets/images/icon-filing.png" alt="开启新窗口">
                  </div>
                  
              </div>
          </div>
      </div> 
    </footer>
  
  
</body>
</html>