body:lang(zh-CN) {
    font-family: "Aktiv Grotesk W01 SC Regular", sans-serif;
  }
  html{
      font-size: 16px;
  }
  body {
      margin: 0;
      color: #4c4c4c;
      line-height: 1.5em;
      font-style: normal;
      position: relative;
  }
  
  input, button, select, textarea {
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      border:0;
  }
  textarea{
      resize:none;
  }
  @media only screen and (min-width: 71.5em){
    .header-top-row{
        width: 100%; 
        height: 32px;
        background:#006564;
    }
  }
  .header-top-row-wrapper{
    display: block;
    width: 960px;
    height: 100%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}


  @media only screen and (max-width: 71.4375em){
    .header-top-row{
        display: none;
    }
    .header-bottom-row{
        display: none;
    }
    .header-top-row-min{
        width: 100%; 
        height: 46px;
        background:#006564;
    }
  }
  @media only screen and (min-width: 71.4375em){
    .header-top-row-min{
        display: none;
    }
  }
  .header-top-row-min{
      position: relative;
    .header-top-row-wrapper-min{
        width: auto;
        height: 100%;
        vertical-align: middle;
        padding-left: 30px;
        padding-right: 30px;
        .left-item-group{
            padding-top: 7px;
        }
        .right-item-group{
            padding-top: 7px;
            margin-right:-15px;
        }
        .burger-menu-button{
            text-decoration: none;
            padding: 0 15px 0 15px;
            font-size: 1.55rem;
            color: #fff;
            position: relative;
            overflow: hidden;
        }
        .cx-home-link{
            display: block;
            position: absolute;
            left: 50%;
            height: 100%;
            .cx-icon-wrapper{
                position: absolute;
                left: -0.5rem;
            .icon-envelop{
                display: table-cell;
                color: #fff;
                font-size: 1.55rem;
                padding-top: 12px;
                }
            }
        }
    }
      
  }
  .left-item-group{
      margin-top: 4px;
      margin-left: -15px;
      float: left;
  }
  .right-item-group{
      margin-top: 4px;
      float: right;
  }
  a:link{
      text-decoration:none;
  }
  a:hover{
      text-decoration:underline;
    }
  .a-item{
      color: #fff;
      text-align: center;
      padding: 0 15px 0 15px;
  }
  .header-bottom-row{
      width: 100%; 
      height: 72.2px;
  }
  .header-bottom-row-wrapper{
      width: 960px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  .left-item-bottom-group{
      margin-top: 20px;
      display: inline-block;
  }
  .right-item-bottom-group{
      float: right;
      display: table;
      height: 80%;
      padding: 1px 0 0 0;
      margin-right: -16px;
  }
  ul{
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .navigation{
      display: table;
      color:#4C4C4C;
  }
  .navigation{
    .first-level-trigger:hover {
        color: rgb(199, 12, 12);
        text-decoration: none;
        cursor: pointer;
        border-bottom: 3px solid rgb(199, 12, 12);
    }
  }
  .navigation-item-panel{
      width: 100%;
      height: 225px;
      position: absolute;
      background: #fff;
      left: 0;
      z-index: 2;
      display: none;
      margin-top: 71.5px;
  }
  .navigation{
    .first-level-trigger:hover{
        .navigation-item-panel{
            display: block;
        }
    }
  }
  .panel-content-wrapper-one{
      width: 960px;
      height: 100%;
      margin: 0 auto;
      position: relative;
  }   
  .navigation-header{
      margin: 0 0 15px;
      font-size: 14px;
      color: #000;
  }
  .site-search-bar-left-separator-container{
      display: table-cell;
      vertical-align: middle;
  }
  .site-search-bar-left-separator{
      background-color: #d7d7d7;
      width: 1px;
      height: 1.25rem;
  }
  .site-search-trigger{
      display: table-cell;
     
      padding: 6px 20px 0 15px;
      color: #4c4c4c;
  }
  .one-world{
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      position: relative;
      top: -8px;
      left: 16px;
  }
  .level-trigger-title{
      display: table-cell;
      padding-top: 27px;
      font-family: 'Aktiv Grotesk W01 Regular',sans-serif;
  }
  .navigation-item{
      display: table-cell;
      padding: 0;
  }
  .first-level-trigger{
      display: table;
      font-size: 14px;
      height: 100%;
      min-height: 4.375rem;
      padding: 0 15px;
  }
  .first-level-trigger-title{
      display: table-cell;
      vertical-align: middle;
      padding-top: 10px;
      border-bottom: 2px solid transparent;
      color:#4C4C4C;
  }
  .parsys{
      width: 100%;
      height: 770px;
      color: #fff;
  }
  .tertiarypar{
      width: 100%;
      height: 1950px;
  }
  .responsive-footer-container{
      width:1352.4px;
      height: 583.16px;
      color: #fff;
      background: #4c4c4c;
      margin-left:auto; 
      margin-right:auto;
  }
  .mega-menu-component{
      width: 985px;
      height: 187px;
      margin: 0 auto;
      
  }
  .mega-column{
      float: left;
      width: 23%;
      height: 169px;
      border-right: 1px solid #ebedec;
      margin-right: 10px;
      margin-top: 19px;
  }
  .mega-column:last-child{
      border-right: none;
  }
  .mega-column ul{
      list-style: none;
      margin: 0; 
      padding:0; 
  }
  .mega-column{
    ul{
        li{
            line-height: 22px;
            font-size: 12px;
            color: #0f748f;
        }
    }
  }  
  .mega-column{
    a:hover{
        text-decoration: underline;
    }
  } 
  .navigation-header{
      margin: 0 0 15px;
      font-size: 14px;
  }
  
  .mega-column-second{
      float: left;
      width: 18.5%;
      height: 169px;
      border-right: 1px solid #ebedec;
      margin-right: 10px;
      margin-top: 19px;
  }
  .mega-column-second{
    ul{
        list-style: none;
        margin: 0; 
        padding:0; 
    }
  } 
  .mega-column-second{
    ul{
        li{
            line-height: 22px;
            font-size: 12px;
            color: #0f748f;
        }
    } 
  } 
  .mega-column-second{
    a:hover{
        text-decoration: underline;
    }
  } 
  .navigation-item-panel{
    .navigation-hr hr{
        width: 960px;
        margin:0 auto;
    }
  } 
  .item-right{
    p{
        display: inline; 
        font-size:15px
    }
  } 
  .col-md-2{
    .col-li{
        i{
            float: right;
        }
    } 
  }
  .copyright-message{
    img{
        width: auto;
    }
  } 
 .mega-column-second{
    .hs{
        color: #0f748f;
        margin: 0;
        font-size: 14px;
     } 
 }
 .navigation-mega-column-image{
    width: 185px;
    height: 70px;
    overflow: hidden;
 }
 .navigation-mega-column:hover{
    .navigation-mega-column-image{
        img{
            transition: .3s;
            transform: scale(1.03);
        }
    }
    text-decoration:underline #006564;
 }
  
  
  