.share-banner-wrapper{
    height: 48.1px;
    background: #ebedec;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    font-size: 16px;
}
.share-toolbox{
    height: 26.1px;
    text-align: center;
    display: block;
    margin:0.8em auto;
}
.share-toolbox{
    a:hover{
        text-decoration: none;
    }
}
.share-lable{
    display: inline-block;
    margin: 0 2.8%;
    color: #4c4c4c;
    font-size: 1em;
    vertical-align: middle;
}
.share-button{
    color: #4c4c4c;
    cursor: pointer;
    padding-left: 2.8%;
    padding-right: 2.8%;
    vertical-align: middle;
}
.section-wrapper-bt{
    min-height: 33rem;
    display: block;
}
.footer-container{
  max-width: 960px;
  height: 491.27px;
  margin: 0 auto;
  padding-top: 15px;
}
.footer-container:before,
.footer-container:after {
    content: " ";
    display: table;
}
.footer-container:after {
    clear: both;
}
.footer-home-link{
    width: 125px;
    height: 83px;
    display: block;
    text-align: left;
    float: left;
    margin-top: 10px;
}
@media screen and (min-width: 64em){
    .footer-links{
        width: 86.5%;
        height: 255.13px;
        float: right;
        margin-top: 30px;
        clear: none;
        padding: 0;
    }
    .share-toolbox{
      width: 924.73px;
    }

}
@media screen and (max-width: 64em){
    .footer-links{
        width: 78%;
    }
    // .footer{
    //   margin-top: 495px;
    // }
    .share-toolbox{
      width: 100%;
    }
}
.footer-section{
    width: 24%;
    height: 90%;
    float: left;
}
.footer-section-heading{
    /* display: inline-block; */
    color: #006564;
    font-family: Aktiv Grotesk W01 Light1370681;
    font-size: 14px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
    padding-right: 130px;
    font-weight: 300;
    margin: 0 14px 0 0;
    padding-right: 10px;
}
.footer-list{
    list-style: none;
    margin-top: 27px;
}
.footer-container{
    a{
        color: #0f748f;
    }
}
.footer-container ul>li{
    a:link{
        padding:4.8px 0px 2.8px;
        font-size: 12px;
        color: #0f748f;
    }
}

@media screen and (min-width: 64em){
    .social-icons{
        display: block;
        width: 86.9%;
        height: 59.2px;
        margin: 25px 125px 0px 125px;
        list-style: none;
        padding-left: 19px;
    }
    .social-icons{
        li{
            float: left;
            margin-right:85px;
        }
    }
}
@media screen and (max-width: 64em){
  .footer-home-link{
    margin-left: 55px;
  }
  .social-icons {
    display: block;
    width: 125px;
    list-style: none;
    padding-left: 19px;
    float: left;
    margin-top: -454px;
    margin-left: 55px;
  }
  .footer-links{
    width: 71%;
    margin-left: 190px;
  }
  .footer-section{
    width: 50%;
    height: 90%;
    float: left;
    margin-bottom: 27px;
    margin-top: 25px;
  }
  .footer-clear{
     clear: both;
  }
  .partner-badges{
    width: 70%;
    margin-left: 176px;
    display: block;
    height: 54px;
    border-top: 0.0625rem solid #d7d7d7;
    margin-top: 17px;
    padding-top: 19px;
  }
  .copyright-message{
    display: inline-block;
    width: 372px;
    margin-left: 176px;
    padding-top: 13px;
    font-size: 11px;
    color: #767676;
    height: 58px;
  }
  .partner-badges a{
    margin-right: 35px;
  }
}

@media screen and (min-width: 64em){
    .partner-badges{
        display: block;
        width: 82.9%;
        height: 54px;
        border-top: .0625rem solid #d7d7d7;
        margin-left: 125px;
        margin-top: 17px;
        padding-top: 19px;
    }
    .partner-badge{
        margin-right: 0;
        height: 1.313em;
        margin: .625em 1.75em .625em 0;
    }
    .copyright-message{
      display: inline-block;
      width: 834.6px;
      margin-left: 125px;
      padding-top: 13px;
      font-size: 11px;
      color: #767676;
      height: 58px;
  }
}
.copyright-message{
    a:link{
        text-decoration: none;
        color: #0f748f;
    }
}
.clear{
  clear: both;
}
@media screen and (max-width: 720px){
  .footer{
    .social-icons{
      margin-top: 15px;
      width: 75%;
      margin-left: 5%;
      margin-bottom: 15px;
      li{
        display: inline-block;
        margin-right: 7%;
      }
    }
    .footer-container{
       position: relative;
       .footer-home-link{
         position: absolute;
         margin-left: 0;
         left: calc(50% - 45px);
       }
       .footer-links{
          width: 96%;
          margin: 70px auto 0;
        .footer-section{
            width: 100%;
        }
        .footer-list{
          margin-top: 10px;
           li{
              display: inline-block;
              width: 50%;
           }
        }
      }
    }
    .partner-badges{
      width: 96%;
      display: block;
      height: 54px;
      border-top: 0.0625rem solid #d7d7d7;
      margin-top: 17px;
      padding-top: 19px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
    }
    .copyright-message {
      display: inline-block;
      width: 96%;
      margin-left: 10px;
      padding-top: 45px;
      font-size: 11px;
      color: #767676;
      height: 58px;
    }
  }
}

// @media screen and (max-width: 400px){
//   .footer{
//     margin-top: 1745px;
//   }
// }
